main .fixed-container {
    padding: 20px 60px;
}
.section__name {
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #4592bf76;
}
.bg-blue {
    background-color: #4592bf16;
}
.bg-orange {
    background-color: #e3bb6f16;
}
.text::after {
    content: '';
    display: block;
    width: 50%;
    height: 1px;
    border-bottom: 2px solid #4592bf36;
    margin: 40px auto;
}
.lesson-title {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.lesson-number {
    font-size: 26px;
    color: #3e3e3e;
    text-align: center;
    /* font-family: Arial, Helvetica, sans-serif; */
    height: 40px;
    width: 40px;
    border-radius: 50px;
    padding: 5px;
    color: white;
    font-weight: 600;
    background-color: #4592bf76;
    display: inline-block;
}
.lesson-name {
    font-size: 26px;
    color: #4592bf76;
    font-weight: bold;
    margin-left: 10px;
}
.text__number {
    font-size: 22px;
    font-weight: 600;
    color: #3e3e3e;
    text-align: center;
    margin-bottom: 20px;
    /* font-family: Arial, Helvetica, sans-serif; */
}
.text__name {
    font-size: 22px;
    font-weight: 600;
    color: #43555dca;
    text-align: center;
    margin-bottom: 20px;
    line-height: 30px;
    /* font-family: Arial, Helvetica, sans-serif; */
}
.text__subname {
    font-size: 20px;
    font-weight: 600;
    color: #023a75;
    text-align: center;
    margin: 20px;
    /* font-family: Arial, Helvetica, sans-serif; */
}
.excercise::after {
    content: '';
    display: block;
    width: 50%;
    height: 1px;
    border-bottom: 2px solid #4592bf36;
    margin: 40px auto;
}
.excercise__header {
    position: relative;
}
.excercise__number {
    width: 80px;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
}
.excercise__task {
    line-height: 25px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
}
.excercise__block {
    margin-bottom: 40px;
    position: relative;
    line-height: 25px;
}
.excercise__block p {
    margin-bottom: 20px;
}
.excercise__block-litera {
    position: absolute;
    font-weight: 600;
    left: 0px;
    top: 0;
    color: #4592bf76;
    font-size: 22px;
}
.two-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.excercise__column {
    position: relative;
}
.column-number {
    position: absolute;
    left: -20px;
}
.excercise__block p:nth-child(2n) {
    background-color: #4592bf16;
}
.excercise__name {
    font-size: 22px;
    color: #3e3e3e;
    text-align: center;
    margin-bottom: 40px;
    /* font-family: Arial, Helvetica, sans-serif; */
}
.excercise__subtitle {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}
.excercise__list {
    list-style-type: none;
}
.excercise__point {
    line-height: 30px;
    list-style-type: none;
    padding: 5px 20px;
}
/* .excercise__point:last-child {
    border-bottom: 2px solid #4592bf26;
} */
.text__field {
    line-height: 30px;
    margin-bottom: 20px;
    font-size: 14px;
}
.text__paragraph {
    line-height: 30px;
    text-indent: 40px;
    margin-bottom: 5px;
}
.dialogue__replica {
    padding: 0 20px 20px 20px;
}
.schedule {
    background-color: #f1eecb7c;
    padding: 20px 0;
    box-shadow: #3e3e3e33 1px 3px 3px 2px;
    background-image: url('../img/blocknote-dot.png'), url('../img/tearspot.png');
    background-repeat: repeat-x, no-repeat;
    background-size: 20px 10px, 80px 80px;
    background-position: 5px 5px, bottom right;
}
.schedule__unit {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    line-height: 30px;
    border-bottom: 1px solid #b7c6bf;
    color: #023a75;
}
.schedule__unit:last-child {
    border: 0;
}
.schedule__point {
    width: 50%;
    text-align: center;
    padding: 0 20px;
}
.schedule__time {
    width: 50%;
    text-align: center;
    padding: 0 20px;
}
.lexica-button {
    margin: 10px auto;
    width: 40%;
    text-align: center;
    background-color: #4592bf76;
    color: #ffffff;
    height: 40px;
    padding: 10px;
}
.with-litera {
    padding-left: 30px;
}
@media screen and (max-width: 750px) { 
    main .fixed-container {
        padding: 20px;
    }
    .section {
        font-size: 22px;
    }
    .excercise__point {
        margin: 0 -20px;
    }

    .text__number {
        font-size: 20px;
    }
    .text__name {
        font-size: 20px;
    }
    .dialogue__replica {
        margin: 0 -20px;
    }
    .schedule {
        background-size: 20px 10px, 50px 50px;
    }
    .schedule__point {
        font-size: 16px;
    }
    .schedule__time {
        font-size: 16px;
    }
    .schedule__unit {
        padding: 0;
    }
    .lexica-button {
        width: 280px;
    }
    .two-columns {
        flex-direction: column;
        align-items: center;
    }
    .excercise__block-litera {
        position: static;
        text-align: center;
        margin-bottom: 20px;
    }
    .excercise__block {
        padding: 0;
    }
    .excercise__column {
        margin-bottom: 20px;
    }
    .section__name {
        font-size: 24px;
    }
}