main .fixed-container {
    padding: 20px 60px;
}
.section {
    font-size: 26px;
    color: #3e3e3e;
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.bg-blue {
    background-color: #4592bf16;
}
.bg-orange {
    background-color: #e3bb6f16;
}
.text {
    margin-bottom: 40px;
}
.texts-title {
    font-size: 22px;
    color: #3e3e3e;
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.text__number {
    font-size: 22px;
    font-weight: 600;
    color: #3e3e3eaa;
    text-align: center;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.text__name {
    font-size: 22px;
    font-weight: 600;
    color: #3e3e3e;
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.text__subname {
    font-size: 20px;
    font-weight: 600;
    color: #3e3e3e;
    text-align: center;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.excercise__block {
    margin-bottom: 40px;
}

.excercise__name {
    font-size: 22px;
    color: #3e3e3e;
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;

}

.excercise__subtitle {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.excercise__list {
    list-style-type: none;
}

.excercise__point {
    line-height: 30px;
    list-style-type: none;
    padding: 0 20px;
}

.text__field {
    line-height: 30px;
    margin-bottom: 20px;
}

.text__paragraph {
    line-height: 30px;
    text-indent: 40px;
    margin-bottom: 5px;
}

.dialogue__replica {
    padding: 0 20px 20px 20px;
}

.schedule {
    background-color: #f1eecbaa;
    padding: 20px 0;
    box-shadow: #3e3e3e33 1px 3px 3px 2px;
    background-image: url('../img/blocknote-dot.png'), url('../img/tearspot.png');
    background-repeat: repeat-x, no-repeat;
    background-size: 20px 10px, 80px 80px;
    background-position: 5px 5px, bottom right;
}

.schedule__unit {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    line-height: 30px;
    border-bottom: 1px solid #b7c6bf;
    color: #023a75;
}
.schedule__unit:last-child {
    border: 0;
}

.schedule__point {
    width: 50%;
    text-align: center;
    padding: 0 20px;
}
.schedule__time {
    width: 50%;
    text-align: center;
    padding: 0 20px;
}

@media screen and (max-width: 750px) { 
    main .fixed-container {
        padding: 20px;
    }
    .section {
        font-size: 22px;
    }
    .excercise__point {
        margin: 0 -20px;
    }

    .text__number {
        font-size: 20px;
    }
    .text__name {
        font-size: 20px;
    }
    .dialogue__replica {
        margin: 0 -20px;
    }
    .schedule {
        background-size: 20px 10px, 50px 50px;
    }
    .schedule__point {
        font-size: 16px;
    }
    .schedule__time {
        font-size: 16px;
    }
    .schedule__unit {
        padding: 0;
    }
}