* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #000000;
}

html, body {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-width: 320px;
    
}

.fixed-container {
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    height: 50px;
    width: 100%;
    user-select: none;
    position: fixed;
    background-color: white;
    z-index: 1;
    transition: transform .1s linear;
}

.header_hidden {
    transform: translateY(-50px);
}


.header::after {
    content: '';
    display: block;
    height: 8px;
    width: 100%;
    background-image: url('../img/shade.png');
}

.header__headline {
    height: 50px;
    width: 100%;
    background: linear-gradient(90deg, #4592bfbb, #4592bf76, #4592bf76, #4592bf76);
    /* , #e3bb6f46, #e3bb6f99 */
    position: relative;
}
.header__headline .fixed-container {
    display: flex;

}
.header__logo {
    height: 50px;
    width: 330px;
    padding: 10px 20px;
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
}
.header__menu {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__menu-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-start;
    align-items: center;
    font-size: 0;
}

.header__menu-point {
    width: 130px;
    height: 50px;
    font-size: 22px;
    color: white;
    text-align: center;
    border-left: 2px solid #ffffff44;
}
.header__menu-point:last-child {
    border-right: 2px solid #ffffff44;
}
.header__menu-point:hover {
    background-color: #ffffff33;

}
.point-name {
    font-size: 20px;
    height: 50px;
    padding: 11px 0;
    width: 100%;
}

.submenu {
    background-color: #ffffff;
}

.submenu__point {
    color: #00000099;
    background-color: #00000011;
    height: 35px;
    padding: 7px 10px;
    list-style-type: none;
    /* border: 1px solid #00000020;
    border-top: 0; */
}
.submenu__point:hover {
    background-color: #00000005;
}

.submenu__point a {
    text-decoration: none;
}
.search {
    position: relative;
    height: 25px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: 20px;
}
.search__text {
    height: 25px;
    font-size: 18px;
    width: 30px;
    resize: none;
    padding: 2px 0;
    align-content: center;
    text-align: center;
    border: 0;
    transform: translateY(-3px);

}
.search::before {
    content: 'x.(';
    position: absolute;
    left: -15px;
    top: -1px;
    height: 25px;
    font-size: 20px;
    width: 30px;
    display: inline-block;
    color: #ffffff;
    align-content: center;
    margin: auto 0;

}
.search::after {
    content: ')';
    position: absolute;
    right: -15px;
    top: -1px;
    height: 25px;
    font-size: 20px;
    width: 30px;
    display: inline-block;
    color: #ffffff;
    align-content: center;

}

main {
    height: auto;
    background-color: #e3e3e333;
    margin-top: 50px;
    /* overflow-y: scroll; */
}

main .fixed-container {
    height: auto;
    background-color: #ffffff;
    padding: 20px;
}

.footer {
    height: 100px;
    width: 100%;
    flex: 0 0 auto;
    background: linear-gradient(90deg, #4592bfbb, #4592bf76, #4592bf76, #4592bf76);
    /* , #e3bb6f46, #e3bb6f99 */
        /* position: absolute;
        bottom: 0; */
}
.footer::before {
    content: '';
    display: block;
    height: 8px;
    width: 100%;
    margin-top: -8px;
    background-image: url('../img/shade-up.png');
}


.hidden {
    display: none;
}

/* BURGER */
.menu__button {
    height: 30px;
    width: 30px;
    margin-left: 10px;
    position: relative;
    display: none;
}
.burger__up {
    height: 4px;
    width: 30px;
    background-color: #ffffff;
    position: absolute;
    top: 3px;
    transition: transform .1s linear;
}
.burger__mid {
    height: 4px;
    width: 30px;
    background-color: #ffffff;
    position: absolute;
    top: 12px;
    transition: transform .1s linear;
}
.burger__down {
    height: 4px;
    width: 30px;
    background-color: #ffffff;
    position: absolute;
    top: 21px;
    transition: transform .1s linear;
}
.burger__hidden {
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
}
.burger__up_rotated {
    transform: rotateZ(45deg) translate(5px, 8px) scaleX(110%);
    -webkit-transform: rotateZ(45deg) translate(5px, 8px) scaleX(110%);
    -ms-transform: rotateZ(45deg) translate(5px, 8px) scaleX(110%);
}
.burger__down_rotated {
    transform: rotateZ(-45deg) translate(5px, -8px) scaleX(110%);
    -webkit-transform: rotateZ(-45deg) translate(5px, -8px) scaleX(110%);
    -ms-transform: rotateZ(-45deg) translate(5px, -8px) scaleX(110%);
}

@media screen and (max-width: 1000px) {
    .header {
        height: 40px;
    }
    .header__fixed-container {
        height: 40px;
    }
    .header__headline {
        height: 40px;
    }
    .header__logo {
        height: 40px;
        padding: 7px;
        width: 180px;
        font-size: 18px;
    }
    .header__menu {
        height: 40px;
    }
    .header__menu-point {
        height: 40px;
        width: 90px;
    }
    .point-name {
        height: 40px;
        padding: 7px;
        font-size: 18px;
    }
    .search__text {
        height: 20px;
        font-size: 18px;
        width: 30px;
        resize: none;
        padding: 1px 0;
        align-content: center;
        text-align: center;
        border: 0;
        transform: translateY(2px);
    
    }
    .search::before {
        font-size: 18px;
        top: 3px;
    
    }
    .search::after {
        font-size: 18px;
        top: 3px;
    
    }
}

@media screen and (max-width: 750px) {
    .header__menu-list {
        display: none;
    }
    .menu__button {
        display: block;
    }
}